<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- Connection information -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/social_seco</property>
    <property name="hibernate.connection.username">social_seco</property>
    <property name="hibernate.connection.password">social_seco</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--
        <property name="hibernate.c3p0.min_size"> 5 </property>
        <property name="hibernate.c3p0.max_size"> 20 </property>
        <property name="hibernate.c3p0.timeout"> 1800 </property>
        <property name="hibernate.c3p0.max_statements"> 50 </property>
        -->
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <mapping class="socialseco.model.User"/>
    <mapping class="socialseco.model.linkedin.LinkedinUser"/>
    <mapping class="socialseco.model.linkedin.LinkedinLanguage"/>
    <mapping class="socialseco.model.linkedin.LinkedinEducation"/>
    <mapping class="socialseco.model.linkedin.LinkedinDate"/>
    <mapping class="socialseco.model.linkedin.LinkedinPosition"/>
    <mapping class="socialseco.model.linkedin.LinkedinCompany"/>
    <mapping class="socialseco.model.linkedin.LinkedinPublication"/>
    <mapping class="socialseco.model.linkedin.LinkedinPatent"/>
    <mapping class="socialseco.model.linkedin.LinkedinCertification"/>
    <mapping class="socialseco.model.linkedin.LinkedinRecommendation"/>
    <mapping class="socialseco.model.linkedin.LinkedinSkill"/>
    <mapping class="socialseco.model.facebook.FacebookUser"/>
    <mapping class="socialseco.model.facebook.FacebookActivity"/>
    <mapping class="socialseco.model.facebook.FacebookBook"/>
    <mapping class="socialseco.model.facebook.FacebookConcentration"/>
    <mapping class="socialseco.model.facebook.FacebookEducation"/>
    <mapping class="socialseco.model.facebook.FacebookGame"/>
    <mapping class="socialseco.model.facebook.FacebookGroup"/>
    <mapping class="socialseco.model.facebook.FacebookInterest"/>
    <mapping class="socialseco.model.facebook.FacebookLike"/>
    <mapping class="socialseco.model.facebook.FacebookMusic"/>
    <mapping class="socialseco.model.facebook.FacebookMovie"/>
    <mapping class="socialseco.model.facebook.FacebookSport"/>
    <mapping class="socialseco.model.facebook.FacebookTelevision"/>
    <mapping class="socialseco.model.facebook.FacebookWork"/>
    <mapping class="socialseco.model.facebook.FacebookLanguage"/>
    <mapping class="socialseco.model.util.Matrix"/>
    <mapping class="socialseco.model.UserSimilarity"/>
  </session-factory>
</hibernate-configuration>
